/* CSS file  for The Best  Mother Fucking Webiste
------
par Christophe Leray
 */

body {
	background-color: #f4f8f9;
	font-family: Georgia, Verdana, sans-serif;
}

a {
	color: #02aed6;
}


.mfw {
 	color: #00A685;
 }

.wrg {
	color:red;
	font-style: bold;
}

.shittyb {
	color: #5300F6;
}

.tiny {
	font-size: 8px;
}


.container {
	max-width: 650px;
	line-height: 1.8;
	text-align: justify;
	margin: 40px auto;
}

.colored {
	color: orange
}


.contrast1 {
	color:#444;
}

.contrast2 {
	color:#454545;
}

.picturesbox {
	
}

.catleft {
	float: left;
	width: 300px;
}

.author {
font-size: 0.8em;
font-style: italic; 
}

.caption {
	font-size: 0.8em;
	text-align: center;
}

span.citneed {
  font-size:0.7em;
  padding-left:0.3em;
  vertical-align:top;
}

#kopimi {
	display: block;
	margin: auto;
	width: 50px;
}